:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #FFF1F7;
  --accent-color: #353430;
  --accent-color-40: #32312D66;
  --title-color: #FFC2E6;
  --shadow-color: #FF8DCB;
  --title-bg-color: #FF8DCB;
  --title-text-color: #353430;
  --text-color: #353430;
  --footer-shadow-color: #FF0070;
  --decor-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: #FFF1F7;
    --accent-color: #353430;
    --accent-color-40: #32312D66;
    --title-color: #FFC2E6;
    --shadow-color: #FF8DCB;
    --title-bg-color: #FF8DCB;
    --title-text-color: #353430;
    --text-color: #353430;
    --footer-shadow-color: #FF0070;
    --decor-display: none;
  }
}
